form {
    display: grid;
    grid-template-columns: repeat(2, 40%) 20%;
    margin-bottom: 3rem;

    @media screen and (max-width: 570px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem 0.5rem;
    }
}

input {
    height: 30px;
    padding: 0 0.5rem;
    border-radius: 3px;
    border: none;
    box-shadow: $sdw-input;

    @media screen and (min-width: 570px) {
        margin-right: 0.5rem;
    }
}
