.message {
    text-align: center;
    border-radius: 3px;
    box-shadow: $sdw-message;
    padding: 0.3rem;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -300%);
    animation: showAlert ease-in-out 2.5s;

    &--success {
        background-color: $clr-success;
    }

    &--error {
        background-color: $clr-error;
    }
}

@keyframes showAlert {
    0% {
        transform: translate(-50%, -300%);
    }

    28% {
        transform: translate(-50%, 10%);
    }

    50% {
        transform: translate(-50%, 0);
    }

    90% {
        transform: translate(-50%, 0);
    }

    95% {
        transform: translate(-50%, 5%);
    }

    100% {
        transform: translate(-50%, -300%);
    }
}
