// Colors

$clr-title: #264653;
$clr-sub-text: #837e7e;
$clr-background: #f5fcfe;
$clr-white: #fff;
$clr-success: aquamarine;
$clr-error: rgb(255, 134, 144);

// Gradiants

$grd-title: linear-gradient(to right, #264653 3%, #2a9d8f 38%, #e9c46a, #f4a261 71%, #e76f52);
// Fonts

$font-title: 'Francois One', sans-serif;
$font-text: 'DM Sans', sans-serif;

// Shadows

$box-shadow: 0px 0px 8px 1px #b2a7a7;
$sdw-message: 0px 0px 3px 0px #b2a7a7;
$sdw-input: 0px 0px 9px 1px #e4e4e4;
